.facebook {
  color: blue; }

.ig {
  color: red; }

.pUno, .pDos {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold; }

.pDos {
  font-size: 30px;
  color: #ff00a6; }

body {
  background-image: url(../img/men.jpg); }
  body header {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body header nav {
      background-color: rgba(0, 0, 0, 0.016); }
      body header nav li {
        display: inline-block; }
        body header nav li a {
          text-decoration: none;
          border: 1px;
          color: aliceblue;
          text-shadow: 2px;
          font-size: 2rem; }
          body header nav li a:hover {
            background-color: #9dff00; }
  body div {
    color: bisque;
    text-align: center; }
  body footer {
    color: bisque;
    font-size: 2rem; }
